.leaflet-container {
  height: 100vh;
  width: 100vw;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mapWrap {
  flex: 1; /* take remaining height */
}

.mapWrap .leaflet-container {
  height: 100%;
  width: 100%;
}
